<!--views/partial/head.ejs-->
<!--
/**
  * @file     head.ejs
  * @author   Éliott Desbordes-Boom (202257861@edu.clg.qc.ca)
  * @version  1
  * @date     23/09/2025
  * @brief    Laboratoire 4 - Intégration de systèmes - Template head pour les pages EJS 
  */
-->

<meta charset="utf-8">
<title>Labo 4</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
