<!--views/partial/header.ejs-->
<!--
/**
  * @file     header.ejs
  * @author   Éliott Desbordes-Boom (202257861@edu.clg.qc.ca)
  * @version  1
  * @date     23/09/2025
  * @brief    Laboratoire 4 - Intégration de systèmes - Template header pour les pages EJS 
  */
-->

<nav class="navbar navbar-defautl" role="navigation">
    <div class="container-fluid" style="background-color:#00588b; opacity: 50%;">
        <div class="btn-group">
          <a href="/" class="btn font-weight-bold btn-primary">Accueil</a>
          <a href="/contacts" class="btn font-weight-bold btn-primary">Contact</a>
          <div class="btn font-weight-bold btn-primary">Achats</div>
        </div>
    </div>
</nav>

