<!DOCTYPE html>
<!--
/**
  * @file     index.ejs
  * @author   Éliott Desbordes-Boom (202257861@edu.clg.qc.ca)
  * @version  1
  * @date     12/09/2025
  * @brief    Laboratoire 3 - Intégration de systèmes - Page d'accueil initiale
  * @details  Page d'accueil initiale de l'application web de la pizzeria.
  */
-->

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>
    <h1>Bienvenue à la Pizzeria !</h1>
    <p>Ceci est la page d'accueil initiale.</p>
</body>
</html>